input:focus{
    background-color:palevioletred;
}
body{
    background-color:antiquewhite;
}

button{
    padding:20px;
    font-size:20px;
}
i:hover{
    background-color:yellow;

}
input:in-range{
    color:blueviolet;
    border:2px solid aqua;
}
input:invalid{
    border:2px solid red;
}
p:lang(range)
{
    background-color:greenyellow;
}
::placeholder{
    color:maroon;
}
a:visited{
    background-color:aquamarine;
}
::selection{
    background-color:blueviolet;
    color:chartreuse;
}
input:required {
    background-color:lightcoral;
  }
  p:last-child{
    background-color:blue;
  }
  input:read-only{
    background-color:darkseagreen;
  }
  ::marker{
    color:orange;
  }
input:out-of-range{
    border:2px solid olivedrab;
}
li:nth-child(2){
    background-color:yellowgreen;
    color:black;
}
:nth-child(3){
    color:black;
}
li:nth-last-child(2){
    background-color:black;
    color:white;
}
li:nth-last-child(1){
    background-color:#ff0000;
    color:black;
}