*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    background-color:hotpink;
}
.container{
    width:100vw;
    height: 100vh;
    display:grid;
    grid-template-columns: 60% 30%;    
}
.container1{
    display:grid;
    width:60vw;
    height:70vh;
    border-radius: 10px;
    grid-template-areas: 
    'one one one'
    'two two two'
    'aside1 aside2 aside3'
    'foot1 foot2 foot3';
    border:15px solid white;

    grid-template-rows:100px 1fr 1fr 100px;
    grid-template-columns: 1fr 1fr 1fr;
    align-self: center;
    margin-left:200px;
    
}
.container2{
    display:grid;
    width:15vw;
    height:50vh;
    border-radius: 10px;
    border:15px solid white;
    grid-template-areas: 
    'one'
    'two '
    'three';
     grid-template-rows: 1fr 4fr 2fr;
    grid-template-columns:1fr ;
    align-self:center;
    margin-left:350px;
}
   
.box1{
    grid-area: one;
    background-color:pink;
    border:6px solid white;
    
}

.box2{
    grid-area:two;
    background-color: pink;
    border:6px solid white;
}
.box3{
    grid-area:aside1;
    background-color: pink;
    border:5px solid white;
}
.box4{
    grid-area: aside2;
    background-color: pink;
    border:5px solid white;

}
.box5{
     grid-area: aside3;
     background-color: pink;
    border:5px solid white;
    }
.box6{
     grid-area: foot1;
     background-color: pink;
    border:5px solid white;
    }
.box7{
     grid-area: foot2;
     background-color: pink;
    border:5px solid white;
    }
.box8{
     grid-area: foot3;
     background-color: pink;
    border:5px solid white;
    }
.box9{
    grid-area: one;
    background-color: pink;
    border:5px solid white;
}
.box10{
    grid-area:two;
    background-color: pink;
    border:5px solid white;
}
.box11{
    grid-area:three; 
    background-color: pink;
    border:5px solid white;
}
.layout{
    display:grid;
        width:58vw;
        height:10vh;
        gap:10px;
            background-color:red;
        border:2px solid white;
    grid-template-columns:repeat(12,1fr);
}
.item1{
background-color:pink;
}
.c1{
    display:grid;
        width:58vw;
        height:20vh;
        gap:10px;
            background-color:red;
        border:2px solid white;
    grid-template-columns:repeat(12,1fr);
}
.c2{
display:grid;
        width:19vw;
        height:25vh;
        gap:10px;
        background-color:red;
        border:2px solid white;
    grid-template-columns:repeat(4,1fr);
}
.c3{
display:grid;
        width:19vw;
        height:25vh;
        gap:10px;
        background-color:red;
        border:2px solid white;
    grid-template-columns:repeat(4,1fr);
}
.c4{
display:grid;
        width:19vw;
        height:25vh;
        gap:10px;
        background-color:red;
        border:2px solid white;
    grid-template-columns:repeat(4,1fr);
}
.c5{
display:grid;
        width:19vw;
        height:10vh;
        gap:10px;
        background-color:red;
        border:2px solid white;
    grid-template-columns:repeat(4,1fr);
}
.c6{
display:grid;
        width:19vw;
        height:10vh;
        gap:10px;
        background-color:red;
        border:2px solid white;
    grid-template-columns:repeat(4,1fr);
}
.c7{
display:grid;
        width:19vw;
        height:10vh;
        gap:10px;
        background-color:red;
        border:2px solid white;
    grid-template-columns:repeat(4,1fr);
}
.c8{
display:grid;
        width:1vw;
        height:10vh;
        gap:10px;
        margin-left:95px;
        align-self:center;
        background-color:red;
            grid-template-columns:1fr 1fr;
}
.c9{
display:grid;
        width:1vw;
        height:25vh;
        gap:10px;
        margin-left:95px;
        align-self:center;
        background-color:red;
            grid-template-columns:1fr 1fr;
}
.c10{
display:grid;
        width:1vw;
        height:10vh;
        gap:10px;
        margin-left:95px;
        align-self:center;
        background-color:red;
            grid-template-columns:1fr 1fr;
}